<h1>Listing questions</h1>

<% @questions.each do |question| %>
  <tr>
    <h2><td><%= link_to question.title, question %></td></h2>
    <td><%= question.text %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 